.pageSection {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.pageSection h1 {
  font-size: 30px;
  font-weight: 600;
  text-align: center;
  margin: 20px 0;
}
.loading {
  height: calc(100vh - var(--navbar-height));
  display: grid;
  place-content: center;
}