.modalBackground {
  background-color: rgba(0,0,0,.2);
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 100;
  overflow-x: hidden;
  overflow-y: auto;
  animation: fade .2s;
}
.modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1rem;
  background-color: white;
  color: black;
  width: 100%;
  min-height: 100vh;
  max-width: 450px;
  position: relative;
  animation: slide .25s ease-in-out;
  transition: transform .25s ease-in-out
}
.modal.closing {
  transform: translateX(100%);
}

@keyframes slide {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0%);
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.modal h4 {
  font-weight: 600;
  font-size: 40px;
  text-align: center;
  text-wrap: balance
}
.header {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: .5rem;
  margin-bottom: 1rem;
}
.body {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1rem;
}
.close {
  border: none;
  background-color: transparent;
  cursor: pointer;
}