.loading {
  display: grid;
  place-content: center;
  grid-column: 1 / 3;
  grid-row: 1 / 3;
}
.userContainer {
  position: relative;
  max-width: 1000px;
  min-height: 74vh;
  margin: 0 auto;
  background-color: var(--semi-blanco);
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr;
  width: 100%;
  justify-content: space-between;
  box-shadow: var(--shadow-medium);
  border-radius: 10px;
  padding-right: 15px;
}
.nameContainer {
  grid-column: 2;
  grid-row: 1;
  text-align: center;
  position: relative;
  padding: 2rem 0 1rem;
  box-shadow: var(--shadow-low);
}
.nameContainer::after {
  content: "";
  height: 1px;
  width: 80%;
  background-color: rgb(0 0 0 / .2);
  position: absolute;
  bottom: 0;
  left: 10%;
}
.nameContainer p {
  color: var(--azul-oscuro);
  font-weight: bold;
}
.nameContainer h1 {
  font-weight: bold;
  font-size: 40px;
  margin: 0;
  color: var(--azul-profundo)  
}
.imageSide {
  grid-column: 1;
  grid-row: 1 / 3;
  padding: 2rem 1rem;
  border-bottom-left-radius: inherit;
  border-top-left-radius: inherit;
  background-color: var(--azul-profundo);
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.imageSide img, .imagePlaceholder {
  border-radius: 999px;
  box-shadow: var(--shadow-medium);
  height: 200px;
  width: 200px;
  background-color: var(--azul-profundo);
  object-fit: cover;
}
.dataSide {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1rem;
  padding: 2rem 10%;  
}
.entry {
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: auto auto;
  align-items: flex-start;
  width: 100%;
  font-weight: 600;
  letter-spacing: 1px;
}
.entry .dataContainer {
  color: var(--azul-oscuro);
  grid-row: 2;
}
.entry label {
  color: black;
  border-radius: 4px;
  font-weight: bold;
  font-size: 12px;
}
.entry button {
  grid-row: 1/3;
  grid-column: 2;
  display: grid;
  place-content: center;
  border-radius: 9999px;
  cursor: pointer;
  width: max-content;
  margin: auto 0 auto auto;
  background-color: rgb(var(--amarillo));
  color: var(--azul-oscuro);
  border: none;
  padding: 5px;
}
.entry button.edit {
  aspect-ratio: 1/1;
}
.entry button.cancel {
  padding: 6px 12px;
  grid-row: 2;
}
.entry input, .entry select {
  padding: 5px 10px;
  width: 280px;
  border-radius: 5px;
  grid-row: 2;
  background-color: white;
  color: var(--azul-oscuro);
  border: 1px solid var(--azul-oscuro);
  letter-spacing: 1px;
}
.saveButton {
  background-color: rgb(var(--amarillo));
  border: none;
  border-radius: 4px;
  color: white;
  box-shadow: var(--shadow-medium);
  cursor: pointer;
  width: 80px;
  height: 32px;
  position: absolute;
  bottom: 1rem;
  right: 1rem;
}
.saveButton:hover {
  background-color: rgb(var(--amarillo) / .8);
  color: black
}
.saveButton:disabled {
  cursor: not-allowed
}
.buttonsContainer {
  display: flex;
  flex-direction: column;
  padding: 0 1rem;
  row-gap: 5px;
}
.buttonsContainer button, .buttonsContainer label {
  padding: 4px;
  border-radius: 3px;
  border: none;
  color: white;
  cursor: pointer;
}
.buttonsContainer label {
  text-align: center;
}
.buttonsContainer label {
  background-color: rgb(var(--amarillo));
}
.buttonsContainer button {
  background-color: var(--azul-profundo);
}