.modalBackground {
  background-color: rgba(0,0,0,.2);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 100;
  animation: fade .2s;
}
.modal {
  display: flex;
  flex-direction: column;
  background-color:white;
  color: black;
  border-radius: 2px;
  padding: 1.5rem 2rem 2rem 2rem;
  row-gap: 10px;
  width: 100%;
  max-width: 380px;
}
.logo {
  object-fit: contain;
  margin-bottom: 15px;
}
.modal p {
  font-weight: 600;
  margin-bottom: 1rem;
}
.buttons {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 10px;
  margin-top: 10px;
}
.buttons button {
  padding: 6px;
  border: none;
  border-radius: 2px;
  background-color: rgb(220, 220, 220);
  cursor: pointer;
  font-weight: 600;
  transition: .3s ease;
}
.buttons button:last-of-type {
  background-color: var(--azul-profundo);
  color: white;
}
.buttons button:last-of-type:hover {
  background-color: var(--azul-intermedio);
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1
  }
}