.modal {
  background-color: white;
  width: 100%;
  max-width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 10px;
  border-radius: 10px;
  animation: fade 0.2s ease-in-out;
}

.modal h4 {
  font-size: 24px;
  font-weight: normal;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.inputContainer label {
  font-size: 0.85rem;
}

.modal button[type='submit'] {
  height: 40px;
  border-radius: 5px;
  width: 100%;
  background-color: rgb(var(--amarillo));
  color: white;
  font-weight: bold;
  border: none;
  cursor: pointer;
  transition: 0.15s ease-in-out;
}
.modal button[type='submit']:hover {
  background-color: rgb(var(--amarillo) / 0.8);
  color: black;
}

.error {
  min-height: 25px;
  color: red;
}

.inputContainer input {
  outline: none;
  padding: 3px 0;
  width: 100%;
}

@keyframes fade {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
