.menu {
  margin: 0;
  width: 100%;
  padding: 15px 20px;
  font-size: 18px;
  font-weight: 600;
  background-color: var(--semi-blanco);
  column-gap: 1rem;
  display: flex;
  box-shadow: var(--shadow-medium);
}
.menuEntry {
  transition: background-color .15s ease;
  padding: 10px 10px;
  border-radius: 5px;
  position: relative;
  flex: 1;
  text-align: center;
}
.menuEntry:hover {
  background-color: var(--azul-claro);
}
.menuEntry.selected:hover {
  background-color: unset;
}
.menuEntry.selected::after {
  content: "";
  height: 2px;
  width: 100%;
  background-color: var(--azul-profundo);
  position: absolute;
  bottom: 2.5px;
  left: 0
}