.table {
  border-collapse: collapse;
  width: 100%;
  max-width: 780px;
  margin: 20px auto 0 auto;
  font-size: 15px;
  box-shadow: var(--shadow-medium);
  border-radius: 10px;
  overflow: hidden;
}
.table thead {
  position: relative
}
.table thead::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 10px;
  width: calc(100% - 20px);
  height: 1px;
  background-color: rgba(0,0,0,.1);
}
.table thead tr th {
  text-align: start;
  font-weight: normal;
  padding: 20px 0;
}
.table thead tr th:first-of-type {
  padding-left: 20px;
}
.table thead tr th:last-of-type {
  padding-right: 20px;
}
.table th, .table td { /* Added padding for better layout after collapsing */
  padding: 4px 8px;
}
.table tbody {
  margin-top: 10px;
}
.table tbody tr {
  cursor: pointer;
}
.table tbody tr td {
  text-align: start;
  transition: .1s ease;
  padding: 15px 5px;
}
.table tbody tr:hover td {
  background-color: rgb(var(--amarillo) / .5);
}
.table tbody tr td:first-of-type {
  padding-left: 20px;
  font-weight: bold;
  color: rgba(0,0,0,.8)
}
.table tbody tr td:last-of-type {
  padding-right: 20px;
}
.table tbody tr.selected td {
  background-color: var(--azul-profundo);
  color: white!important
}
.status {
  color: red;
}
.status[data-text=Activo] {
  color: green
}
