.header {
  min-height: 95vh;
  margin: 0 0 1.5rem;
  position: relative;
  z-index: -1;
  /* background: linear-gradient(0deg, hsla(233, 100%, 90%, 1) 0%, hsla(0, 0%, 89%, 1) 100%);

  background: -moz-linear-gradient(0deg, hsla(233, 100%, 90%, 1) 0%, hsla(0, 0%, 89%, 1) 100%);

  background: -webkit-linear-gradient(0deg, hsla(233, 100%, 90%, 1) 0%, hsla(0, 0%, 89%, 1) 100%); */
  background: linear-gradient(0deg, rgba(149, 146, 226, 0.6) 0%, rgba(176, 242, 217, 0.575) 100%);
  background: -moz-linear-gradient(0deg, rgba(149, 146, 226, 0.6) 0%, rgba(176, 242, 217, 0.575) 100%);
  background: -webkit-linear-gradient(0deg, rgba(149, 146, 226, 0.6) 0%, rgba(176, 242, 217, 0.575) 100%);
  overflow: hidden;
}
.viewContainer {
  display: grid;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  grid-template-columns: 1fr .6fr;
  z-index: 20;
  transition: opacity .6s ease;
}
.dataSection {
  grid-column: 1;
  box-shadow: 0.3px 0px 0.3px hsl(var(--shadow-color) / 0.22),
  7px -0.1px 7.9px -2.5px hsl(var(--shadow-color) / 0.22);
  z-index: 10;
}
.dataContainer {
  padding: 1rem;
  height: 100%;
  display: flex;
  padding: 2rem 1rem;
  flex-direction: column;
}
.dataContainer h2 {
  font-size: 50px;
  text-align: center;
  color: black
}
.titleContainer {
  flex: 1;
  display: flex;
  align-items: center;
}
.descContainer {
  flex: 1;
  display: flex;
  align-items: flex-start;
  max-width: 600px;
  margin: 0 auto;
  line-height: 24px;
}
.descContainer p {
  font-size: 19px;
  font-size: black;
  font-weight: normal;
}
.imageContainer {
  grid-column: 2;
  height: 95vh;
  display: flex;
  justify-content: flex-end;
}
.imageContainer img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: right;
  position: relative;
  z-index: -1;
}
.hidden {
  opacity: 0;
}