.main,
.loadingUser {
  min-height: calc(100vh - var(--navbar-height));
  width: 100%;
  max-width: 1150px;
  margin: 0 auto;
  padding: 2rem 0;
  position: relative;
}
.loadingUser {
  display: grid;
  place-content: center;
}
.main {
  display: flex;
  flex-direction: column;
}
