.info {
  background-color: gray;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  color: white;
  display: flex;
  margin-left: auto;
  justify-content: center;
  align-items: center;
  overflow: visible;
  margin-bottom: 10px
}

.container {
  position: relative
}

.data {
  position: absolute;
  bottom: 0;
  transform: translateY(calc(100% + 20px));
  right: 0;
  background-color: gray;
  color: white;
  opacity: 0;
  transition: opacity .2s ease-in;
  pointer-events: none;
  width: 250px;
  padding: 20px;
  border-radius: 10px;
  z-index: 100;
}

.info:hover .data {
  opacity: 1;
}