.footer {
  display: flex;
  background-color: var(--azul-claro);
  padding: 15px 15px;
}
.footer > div {
  flex: 1;
  display: flex;
}
.footer > .logo {
  display: flex;
  justify-content: center;
}
.footer > .logo > h4 {
  font-size: 30px;
  font-weight: bold;
}
.info {
  flex-direction: column;
  row-gap: 10px;
}
.info h6 {
  font-size: 20px;
  text-align: start;
}
.info p {
  font-size: 14px;
}
.info p:nth-of-type(2) {
  font-size: 12px;
}
.redes {
  justify-content: center;
}