.modal {
  background-color: white;
  width: 100%;
  max-width: 300px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  border-radius: 10px;
}

.modal input {
  width: 100%;
}

.submit {
  height: 35px;
  background-color: rgb(var(--amarillo) / 0.8);
  border-radius: 5px;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.submit:hover {
  background-color: rgb(var(--amarillo));
}
